
<% if @names %>
<h1>Who am I? I am <%= @names %>.</h1>
<% end %>
<div style='border: 3px dashed red'>
<img src= 'http://i.giphy.com/118pNUM9rV3HRC.gif'>
</div>
  <form action= /named-octopus>
    <br>
    <div>
      <label for="Name">What to name me:</label>
        <input type="text" name=names />
      </div>
<br>
   <!-- <div>
       <label for="Occupation">Occupation:</label>
       <input type ="text" id="occupation" name="user_occupation" />
   </div>
   <br> -->
   <div class="button">
       <input type="submit" value="Name this octopus!" />
   </div>
 </form>
