<form action= "/named-octopus" method="post">
  <br>
  <div>
    <label for="Name">What to name you new friend:</label>
      <input type="text" name=names />
    </div>
<br>
 <div class="button">
     <input type="submit" value="Name this octopus!" />
 </div>
</form>


<!-- <div>
    <label for="Occupation">Occupation:</label>
    <input type ="text" id="occupation" name="user_occupation" />
</div>
<br> -->
